# Дисперсионный анализ

In [1]:
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

In [2]:
y1 = np.array([70, 50, 65, 60, 75, 67, 74])
y2 = np.array([80, 74, 90, 70, 75, 65, 85])
y3 = np.array([148, 142, 140, 150, 160, 170, 155])

k = 3
n = 21

y_mean_1 = np.mean(y1)
y_mean_1

65.85714285714286

In [3]:
y_mean_2 = np.mean(y2)
y_mean_2

77.0

In [4]:
y_mean_3 = np.mean(y3)
y_mean_3

152.14285714285714

In [5]:
total = np.array([y1, y2, y3])
total

array([[ 70,  50,  65,  60,  75,  67,  74],
       [ 80,  74,  90,  70,  75,  65,  85],
       [148, 142, 140, 150, 160, 170, 155]])

In [6]:
y_mean_total = np.mean(total)
y_mean_total

98.33333333333333

In [7]:
# Сумма квадратов отлконений наблюдений от общего среднего
sq_sum = np.sum((total - y_mean_total)**2)
sq_sum

32400.66666666667

In [9]:
# Сумма квадратов отклонений средних групповых значений от общего среднего
S_f = np.sum((y_mean_1 - y_mean_total)**2) * (n/3) + np.sum((y_mean_2 - y_mean_total)**2) * (n/3) + np.sum((y_mean_3 - y_mean_total)**2) * (n/3)
S_f

30836.952380952374

In [10]:
# Остаточная сумма квадратов отклонений
S_ost = np.sum((y1 - y_mean_1)**2) + np.sum((y2 - y_mean_2)**2) + np.sum((y3 - y_mean_3)**2)
S_ost

1563.7142857142858

In [11]:
S_common = S_f + S_ost
S_common

32400.66666666666

In [12]:
D_f = S_f / (k - 1)
D_f

15418.476190476187

In [13]:
D_ost = S_ost / (n - k)
D_ost

86.87301587301587

In [14]:
F_n = D_f / D_ost
F_n

177.48291613374744

In [16]:
f = stats.f_oneway(y1, y2, y3)
f

F_onewayResult(statistic=177.48291613374704, pvalue=1.420466900107174e-12)

In [17]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
import pandas as pd

In [19]:
df = pd.DataFrame({'score': [70, 50, 65, 60, 75, 67, 74,
                            80, 74, 90, 70, 75, 65, 85,
                            148, 142, 140, 150, 160, 170, 155],
                   'group': np.repeat(['accountant', 'lawyer', 'programmer'], repeats=7)})
tukey = pairwise_tukeyhsd(endog=df['score'],
                         groups=df['group'],
                         alpha=0.05)
print(tukey)

    Multiple Comparison of Means - Tukey HSD, FWER=0.05
============================================================
  group1     group2   meandiff p-adj   lower   upper  reject
------------------------------------------------------------
accountant     lawyer  11.1429 0.0918 -1.5722 23.8579  False
accountant programmer  86.2857    0.0 73.5707 99.0007   True
    lawyer programmer  75.1429    0.0 62.4278 87.8579   True
------------------------------------------------------------

In [20]:
y111 = 57
y112 = 59
y11 = (y111 + y112) / 2
y11

58.0

In [21]:
y121 = 56
y122 = 58
y12 = (y121 + y122) /2
y12

57.0

In [22]:
y211 = 32
y212 = 34
y21 = (y211 + y212) / 2
y21

33.0

In [23]:
y221 = 71
y222 = 71
y22 = (y221 + y222) / 2
y22

71.0

In [24]:
YcpA1 = (y11 + y12) /2
YcpA1

57.5

In [25]:
YcpA2 = (y21 + y22) / 2
YcpA2

52.0

In [26]:
YcpB1 = (y11 + y21) / 2
YcpB1

45.5

In [27]:
YcpB2 = (y12 + y22) / 2
YcpB2

64.0

In [29]:
Ycp = np.mean(YcpA1 + YcpA2 + YcpB1 + YcpB2) / 4
Ycp

54.75

In [30]:
a = 2
b = 2
n = k = 2

dfA = a - 1
dfB = b - 1

dfAB = (a - 1) * (b - 1)
dfE = a * b * (n - 1)

In [31]:
SSt = 1511.5
SSA = 60.5
SSB = 684.5
SSAB = 760.5
SSE = SSt - SSA - SSB - SSAB
SSE

6.0

In [32]:
MSA = SSA / dfA
MSB = SSB / dfB

MSA, MSB

(60.5, 684.5)

In [33]:
MSAB = SSAB / dfAB
MSE = SSE / dfE

MSAB, MSE

(760.5, 1.5)

In [34]:
FA = MSA / MSE
FB = MSB / MSE
FAB = MSAB / MSE
F_t = 7.1
FA, FB, FAB

(40.333333333333336, 456.3333333333333, 507.0)

In [35]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [36]:
fA = np.array(["low", "low", "low", "low", "high", "high", "high", "high"])
fA

array(['low', 'low', 'low', 'low', 'high', 'high', 'high', 'high'],
      dtype='<U4')

In [37]:
fB = np.array(["low", "low", "high", "high","low", "low",  "high", "high"])

In [38]:
values = np.array([57, 59, 56, 58, 32, 34, 71, 71])

In [39]:
df = pd.DataFrame({'fA': fA, 'fB': fB, 'values': values})
df

     fA    fB  values
0   low   low      57
1   low   low      59
2   low  high      56
3   low  high      58
4  high   low      32
5  high   low      34
6  high  high      71
7  high  high      71

In [40]:
lm_model = ols('values ~ C(fA) * C(fB)', data=df).fit()

In [41]:
table = sm.stats.anova_lm(lm_model, typ=2)
table

             sum_sq   df           F    PR(>F)
C(fA)          60.5  1.0   40.333333  0.003150
C(fB)         684.5  1.0  456.333333  0.000028
C(fA):C(fB)   760.5  1.0  507.000000  0.000023
Residual        6.0  4.0         NaN       NaN